@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
* {
    font-family: 'Quicksand', 'sans-serif';
}

body {
    width: 100%;
    height: 100%;
}

.image1, .image2 {
    position: absolute;
    display: block;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 825px;
    height: 750px;
}

.image4 {
    position: absolute;
    width: 432px;
    height: 105px;
    left: 13%;
    top: 40%;
}

.col-md-5 {
    position: absolute;
    right: 0;
    top: 0;
    height: 750px;
}

.logo-login-back {
    margin-left: -26px;
    margin-right: 12px;
}

.text-login-back {
    position: absolute;
    text-decoration: none;
    left: 4%;
    right: 8.33%;
    top: 6%;
    color: #C32270;
    font-size: 20px;
    line-height: 25px;
}

.text-login-back:hover {
    color: steelblue;
}

.logo-title-login {
    position: absolute;
    width: 450px;
    height: 104px;
    left: 65px;
    top: 140px
}

.text-title-login {
    position: absolute;
    font-size: 18px;
    line-height: 22px;
    width: 338px;
    height: 23px;
    left: 140px;
    top: 275px;
}

input[type=text] {
    position: absolute;
    width: 570px;
    height: 55px;
    left: 0;
    top: 350px;
    box-sizing: border-box;
    display: block;
    outline: 0;
    border-radius: 10px;
    padding-left: 59px;
    font-size: 18px;
    line-height: 22px;
}

.icon-image-user {
    position: absolute;
    left: 20px;
    top: 377px;
    transform: translateY(-50%);
    z-index: 1;
}

input[type=password] {
    position: absolute;
    width: 570px;
    height: 55px;
    left: 0;
    top: 425px;
    box-sizing: border-box;
    display: block;
    outline: 0;
    border-radius: 10px;
    padding-left: 59px;
    font-size: 18px;
    line-height: 22px;
}

.icon-image-password {
    position: absolute;
    left: 20px;
    top: 450px;
    transform: translateY(-50%);
    z-index: 1;
}

input[type=submit] {
    position: absolute;
    width: 570px;
    height: 55px;
    left: 0;
    top: 525px;
    box-sizing: border-box;
    display: block;
    border-radius: 10px;
    padding-left: 59px;
    font-size: 18px;
    line-height: 22px;
    background-color: #C32270;
    color: white;
    font-weight: bold;
}

input[type=submit]:hover {
    color: steelblue;
    background-color: pink;
}

.forgetPassword {
    position: absolute;
    width: 141px;
    height: 23px;
    left: 240px;
    top: 600px;
    font-size: 18px;
    line-height: 22px;
    color: black;
}

.registerAccount {
    position: absolute;
    width: 141px;
    height: 23px;
    left: 270px;
    top: 630px;
    font-size: 18px;
    line-height: 22px;
    color: black;
}

.login-back > a{
    width: 185px;
    height: 38px;
}